.about-title-container{
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    color: #000080;
}
.about-content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-logoImg{
}
.about-text{
    font-family: Montserrat, sans-serif;
    margin-top:2%;
    line-height: 35px;
    font-size: larger;
}