.container{
    min-height: 100vh;
}
.slogan{
    background-color: #3674e8;
    width: 100%;
}
.serviceHeaders{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.serviceHeader{
    padding-top:1%;
    padding-bottom:1%;
    border-style: solid;
    border-radius: 10px;
    border-color: white ;
    background-color: #3674e8;
}