.container{
    min-height: 200vh;
    background-color: #B0B0B0 ;
}
.slogan{
    background-color: #000080;
    width: 100%;
}
.serviceHeaders{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}