.container{
    min-height: 200vh;
    background-color: #f1e8f0 ;
}
.slogan{
    background-color: #3030df;
    width: 100%;
}
.serviceHeaders{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}